* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

canvas {
    background-color: black;
    width: 8000px;
    height: 8000px;
    margin: auto;
    user-select: none;
}

.controlls {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: calc(100% - 40px);
    padding: 0 20px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    user-select: none;
}

.controlls .elem input {
    margin: 10px;
    max-width: 100px;
    border: 2px solid black;
}

.controlls .elem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.movable {
    position: fixed;
    bottom: 5px;
    right: 5px;
    height: 80px;
    width: 80px;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 50%;
}

.movable span {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    fill: white;
    transition: all 0.2s linear;
    user-select: none;
}

.movable span:hover {
    transform: scale(1.2);
}

.movable ._1 {
    position: absolute;
    left: calc(50% - 15px);
    right: calc(50% - 15px);
    top: 0;
}

.movable ._2 {
    position: absolute;
    right: 0px;
    top: calc(50% - 15px);
}

.movable ._3 {
    position: absolute;
    left: 0px;
    top: calc(50% - 15px);
}

.movable ._4 {
    position: absolute;
    left: calc(50% - 15px);
    right: calc(50% - 15px);
    top: calc(100% - 30px);
}